<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input [(ngModel)]="todo" placeholder="Enter your todo"></ion-input>
    <ion-button color="primary" (click)="addTodo()">Add</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let todo of todos; index as index;" 
    button [routerLink]="['/detail', todo.id]">
    <ion-label>{{todo.id}} {{ todo.text }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
